LICENSE-3RD-PARTY.txt
LICENSE.txt
README-SDL.txt
README.txt
SDL2.dll
SDL2_mixer_ext.dll
addons
config.cfg_bak
config.cfg_controls_deleted
exchndl.dll
final_siiva
gamedata.dat
latest-log.txt
libcurl.dll
libfluidsynth-2.dll
libgcc_s_sjlj-1.dll
libgme.dll
libopenmpt.dll
libstdc++-6.dll
logs
luafiles
mgwhelp.dll
models
models.dat
music.dta
music.dta_original
ogg_renamed_siiva
player.dta
screenshots
siiva
siiva_renamed
srb2.pk3
srb2sav1.ssg
srb2win.RPT
srb2win.exe
unins000.dat
unins000.exe
zones.pk3
